@charset "utf-8";
/* reset */
body, h1, h2, h3, h4, p, ul, li {
	margin: 0;
	padding: 0;
}

body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, arial, sans-serif;
	line-height: 1;
}

h1, h2, h3, h4 {
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style: none;
}

img {
	border: 0;
	vertical-align: top;
}


/* clearfix */
.clearfix:before,
.clearfix:after{
	display:table;
	content:"";
}

.clearfix:after{
	clear:both;
}

.clearfix{
	zoom:1;
}

/* レイアウト 
-------------------------- */
.container {
	background-color: #3B9ADE;
	max-width: 100%;
	width: 860px;
	height: 976px;
	top: -165px;
	left: -508px;
	padding: 0px 40px 0px 40px;
	margin : 0 auto;
}

.container-content {
	width: 780px;
	height: 976px;
	left: 40px;
	background-color: #FFFFFF;
	max-width: 100%;
	margin: 0 auto;
}

/* HEADER */
.header {
	width: 720px;
	height: 41px;
	top: 9px;
	left: 29px;
	margin: auto;
	padding-top: 9px;
}

.header h1 {
	float: left;
	width: 175px;
	height: 41px;
	top: 9px;
	left: 29px;
	margin-top: 12px;
}

.header ul {
	list-style-type: none;
	float: right;
	width: 97px;
	height: 21px;
	top: 20px;
	left: 652px;
	margin-top: 11px;
}

.header ul li {
    display: inline-block;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	top: 20px;
	left: 652px;
	padding-left: 27px;		
}

.header ul li p {
	width: 70px;
	height: 21px;
	top: 20px;
	left: 679px;
	font-family: Meiryo;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
	color: #222222;
	margin-right: 50px;
}

.header ul li p a {
    color: #222222;
}

.header ul li p a:hover {
	text-decoration: none;
}

/* HERO */
.hero {
	width: 780px;
	height: 190px;
	margin-top: 10px;
}

.hero h2 {
	width: 719px;
	height: 190px;
	top: 60px;
	left: 30px;
	margin: 0 auto;
}

/* CONTENT */
.content {
	width: 719px;
	height: 663px;
	margin: auto;
	margin-top: 27px;
}

/* ===== Content - Article 1 ===== */
.content .article1 {
	width: 719px;
	height: auto;
}

.content .article1 h3 {
	width: 504px;
	height: 30px;
	top: 277px;
	left: 30px;
}

.content .article1 p {
	width: 729px;
	height: 50px;
	top: 311px;
	left: 30px;
	font-family: Meiryo;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
	margin-top: 7px;
	color: #222222;
}

/* ===== Content - Article 2 ===== */
.content .article2  {
	width: 719px;
    height: auto;
	margin-top: 16px;
}

.content .article2 h3 {
	width: 313px;
	height: 30px;
	top: 379px;
	left: 30px;
}

/* Article 2 - Article Body - Article Content */
.article-body {
	width: 719px;
	height: 300px;
	display: inline-block;
	text-align: justify;
}

.article-body:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.article-body .article-content {
	display: inline-block;
	width: 348px;
	height: 129px;
	top: 415px;
	left: 30px;
	margin: 3px auto 25px auto;
}

.article-content:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.article-content img {
	width: 125px;
	height: 125px;
	top: 419px;
	left: 30px;
	margin-top: 5px;
}

/* Article Content - Text Content */
.article-content .text-content {
	display: inline-block;
	width: 203px;
	height: 129px;
	top: 415px;
	left: 175px;
}

.text-content h4 {
	width: 203px;
	height: 27px;
	top: 415px;
	left: 175px;
	font-family: Meiryo;
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	text-align: left;
	color: #D82C2C;
}

.text-content p {
	width: 203px;
	height: 48px;
	top: 443px;
	left: 175px;
	font-family: Meiryo;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-align: left;
	color: #000000;
}

.text-content .p-3 {
	letter-spacing: -0.02em;
}


/* Article Content - Text Content - Button */
.text-content .button {
	width: 128px;
	height: 28px;
	top: 516px;
	left: 250px;
	margin-left: 75px;
	margin-top: 23px;
}

.text-content .button img {
	width: 128px;
	height: 28px;
	top: 516px;
	left: 250px;
	text-align: right;
}

/* ===== Content - Article 3 ===== */
.content .article3 {
	width: 720px;
	height: 198px;
	top: 749px;
	left: 30px;
}

.content .article3-body {
	display: inline-block;
	width: 720px;
	height: 160px;
	top: 749px;
	left: 30px;
	margin-top: 40px;
	border: 1px solid #CCCCCC;
}

.article3-body:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.article3 .article3-body img {
	margin-top: 19px;
	margin-left: 20px;
}

/* Article 3 Body - Text Body Article 3*/
.article3-body .text-article3 {
	display: inline-block;
	width: 300px;
	margin-left: 16px;
	margin-top: 0px;
}

.text-article3 .article_title3 img {
	width: 178px;
	height: 18px;
	top: 18px;
	left: 370px;
	font-family: Meiryo;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #333333;
	margin-top: 20px;
	margin-left: 0px;
}

.text-article3 ul {
	display: inline-block;
	list-style-type: none;
	width: 300px;
	height: 100px;
	text-align: justify;
}

.text-article3 ul:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.text-article3 ul li {
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	max-width: 100%;
	width: 7px;
	height: 15px;
	top: 104.53px;
	left: 371.53px;
	color: #838383;
	padding-left: 12px;
	margin-top: 11px;
}

.text-article3 p {
	display: inline-block;
	width: 182px;
	height: 21px;
	top: 47px;
	left: 383px;
	font-family: Meiryo;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
	color: #222222;
	padding-bottom: 10px;
	margin-top: -25px;
}

.text-article3 p a {
	color: #222222;
}

.text-article3 p a:hover {
	text-decoration: none;
}

/* FOOTER */
.footer {
	width: 780px;
	height: 37px;
	top: 939px;
	background-color: #322016;
	margin: 0 auto;
}

.footer p {
	width: 251px;
	height: 17px;
	top: 11px;
	left: 264px;
	font-family: Meiryo;
	font-size: 11px;
	font-weight: 400;
	line-height: 16.5px;
	text-align: center;
	color: #FFFFFF;
	margin: auto;
	padding-top: 10px;
}